@import url('https://fonts.googleapis.com/css?family=Oswald:300,400');

@font-face {
    font-family: "ScreenMatrix";
    src: url(Fonts/ScreenMatrix.ttf) format("woff");
    src: url(Fonts/ScreenMatrix.ttf) format("woff2");
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', oswald;
}


body{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    min-height: 100wh;
    background-color:#030423;
    background-size: 40px 40px;
    background-image:
    linear-gradient(to right, rgba(128, 128, 128, 0.437) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(128, 128, 128, 0.437) 1px, transparent 1px);
    background-attachment: fixed;
}

.nav ul{
    margin: 0;
}

.nav li{
    display: inline;
}

.nav a {
    display: inline-block;
    padding-right: .5em;
    color: white;
    text-decoration: none;
}

.footer-nav{
    margin-top: auto;
}

.footer-nav li{
    padding: 0em;
}

.icon {
    max-width: 5vw; /* Responsive sizing based on viewport width */
    height: auto;
}

.name{
    text-align: left;
    margin: 0;
    font-size: 2.2em;
    font-family: "ScreenMatrix";
    font-weight: normal;
    color: white;
    padding-top: 20px;
}

.name-large{
    font-size: 8em;
}

.name-footer{
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: "oswald";
    font-weight: normal;
    color: black;
}

.header-container {
    width: 100%; /* or a specific width */
    padding: 20px; /* adjust padding as needed */
    display: inline-flex;
    flex-direction: column;
    align-items: center; /* centers content */
    justify-content: center; /* centers content vertically */
    background-color: #030423;
}

.footer-container {
    width: 100%; /* or a specific width */
    padding: 20px; /* adjust padding as needed */
    display: flex;
    flex-direction: column; /* or row, based on your layout needs */
    align-items: center; /* centers content */
    justify-content: center; /* centers content vertically */
    background-color: rgb(238, 238, 233);
}

.translucent-content-container{
    background-color: rgba(186, 174, 223, 0.215);
    border-radius: clamp(5px, 3%, 12px) clamp(60px, 3%, 12px);
}

.translucent-content-container-home{
    background-color: rgba(186, 174, 223, 0.215);
    width: 100%;
}

.main-footer {
    background-color:beige;
    color: white;
    padding: .25em 0;
}

.main-footer-container{
    display: flex;
    align-items: center;
}

.main-footer-container ul{
    flex-grow: 1;
    text-align: end;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    max-width: 1000px;
    margin: auto;
}

.content-column {
    flex: 1;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-column img {
    max-width: 170%;
    height: auto;
    align-self: center;
    margin-top: auto;
}

.content-column-left{
    margin-right: 50px;
    margin-left: 10px;
}

.content-column-right{
    margin-left: 50px;
    margin-right: 10px;
}

.content-section {
    margin: 1em;
    color:rgba(255, 255, 255, 0.871);
}

.content-section-home{
    margin: 0em;
    color:rgba(255, 255, 255, 0.871);
}

.paragraph-section {
    justify-content:space-evenly;
}

.section-header {
    font-family: "oswald";
    font-weight: normal;
    color: #fff;
    text-align: center;
    font-size: 2.5em;
}

.home-header {
    font-family: "oswald";
    font-weight: normal;
    color: #fff;
    font-size: 3em;
}

.header-left{
    text-align: left;
    margin-left: 3%;
}

.header-right{
    text-align: right;
    margin-right: 3%;
}

.align-left{
    text-align: left;
}

.align-right{
    text-align: right;
}

.text-format{
    color: white;
    opacity: 50%;
    font-size: 1.2em;
}

.section-sub-header {
    font-family: "oswald";
    font-weight: normal;
    border-bottom: 1px solid white;
    margin-right: 1.5em;
    margin-left: 0.5em;
    padding: 0.5em;
    color: white;
    text-align: left;
    font-size: 1.5em;
}

.section-sub-sub-header{
    font-family: "oswald";
    font-weight: normal;
    border-bottom: 1px solid white;
    margin-right: 1.5em;
    margin-left: 0.5em;
    padding: 0.5em;
    color: white;
    text-align: left;
    font-size: 1.3em;
}

.overview{
    padding: 0.5em;
    margin-left: 1.5em;
    margin-right: 3.5em;
}

.list-indent{
    padding: 1.5em;
}

.wrapper{
    display: inline-flex;
}

.wrapper .static-txt{
    color: #fff;
    font-size: 60px;
    font-weight: 400;
}

.wrapper .dynamic-txts{
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
    
}

.dynamic-txts li{
    color:#73de46;
    list-style: none;
    font-size: 60px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 8s steps(4) infinite;
}

.dynamic-txts li span{
    position: relative;
}

.dynamic-txts li span::after{
    content: "";
    position: absolute;
    left: 0;
    background: #030423;
    height: 100%;
    width: 100%;
    border-left: 2px solid rgb(62, 99, 62);
    animation: typing 2s steps(18) infinite;
}

@keyframes slide{
    100%{
        top: -360px;
    }
}

@keyframes typing{
    40%,
    60%{
        left:calc(100% + 30px);
    }
    100%{
        left: 0;
    }
}

@media (max-width: 768px) and (orientation: landscape){
    .content-column h2 {
        font-size: 2.2em; /* Decrease font size of headers */
    }
    .content-column p {
        font-size: 1em; /* Decrease font size of paragraphs */
    }
}

@media (max-width: 768px) and (orientation: portrait){
    .name {
        font-size: 1.6em; /* Reduce font size for smaller screens */
        text-align: center; /* Center the text */
    }

    .content-column img {
        max-width: 260%; /* Make the image take up more space on smaller screens */
        margin-top: auto; /* Pushes the image to the bottom */
        align-self: center;
    }

    .content-column h2 {
        font-size: 2em; /* Decrease font size of headers */
    }

    .content-column p {
        font-size: 0.9em; /* Decrease font size of paragraphs */
    }

    .content-column{
        padding: 0px;
    }

    .name-large {
        font-size: 4em;
    }
    .wrapper .static-txt{
        font-size: 30px; /* Smaller text for mobile */
    }
    .dynamic-txts {
        height: 30px;
        line-height: 30px;
        overflow: hidden;
    }

    .dynamic-txts li {
        position:relative;
        list-style: none;
        top: -24px; /* Start at the top */
        height: 41px; /* Ensure each list item fits within this height */
        font-size: 30px;
        animation: slide 8s steps(4) infinite;
    }

    .dynamic-txts li span::after{
        top: 0px;
    }

    .wrapper .dynamic-txts{
        margin-left: 15px;
        height: 37px;
        line-height: 90px;
        overflow: hidden;
        
    }

    @keyframes slide{
        100%{
            top: -185px;
        }
    }
    
    @keyframes typing{
        30%,
        60%{
            left:calc(100% + 15px);
        }
        100%{
            left: 0;
        }
    }
    .content-section {
        margin: 0.5em; /* Reduce margin for smaller screens */
    }
    .translucent-content-container {
        background-color: rgba(186, 174, 223, 0.215); /*0.767*/
        border-radius: clamp(10px, 3%, 12px) clamp(40px, 3%, 12px);
    }
    .section-header {
        font-size: 1.8em; /* Smaller section headers */
    }
    .overview {
        padding: 0.5em;
        margin-left: 1em;
        margin-right: 1em;
    }
    .nav ul {
        display: flex;
        flex-direction: column; /* Stack menu items vertically on mobile */
        align-items: center;
    }
    .nav a {
        padding: 0.8em; /* Increase padding for touch-friendly links */
    }

    .name-footer{
        font-size: 3em;
    }

    .icon {
        max-width: 25px;
    }
}

/* Media query for even smaller screens */
@media (max-width: 480px) and (orientation: portrait) {
    .name {
        font-size: 1.5em;
    }

    .content-column img {
        max-width: 260%; /* Make the image take up more space on smaller screens */
        margin-top: auto; /* Pushes the image to the bottom */
        align-self: center;
    }

    .content-column h2 {
        font-size: 1.2em; /* Decrease font size of headers */
    }

    .content-column p {
        font-size: 0.7em; /* Decrease font size of paragraphs */
    }


    .content-column{
        padding: 0px;
    }
    
    .dynamic-txts li {
        position:relative;
        list-style: none;
        top: -20px; /* Start at the top */
        height: 42px; /* Ensure each list item fits within this height */
        font-size: 30px;
        animation: slide 8s steps(4) infinite;
    }

    .wrapper .dynamic-txts{
        margin-left: 5px;
        height: 39px;
        line-height: 80px;
        overflow: hidden;
    }
    .wrapper .static-txt {
        font-size: 30px; /* Smaller text for mobile */
        margin-top: -2px; /* Adjust this value as needed to move text higher */
    }

    .section-header {
        font-size: 1.5em;
    }
    .overview {
        font-size: 0.9em;
    }

    .translucent-content-container {
        background-color: rgba(186, 174, 223, 0.215); /*0.767*/
        border-radius: clamp(10px, 3%, 12px) clamp(40px, 3%, 12px);
    }

    .name-footer{
        font-size: 1.98em;
    }

    .icon {
        max-width: 15px;
    }
}

