@import url('https://fonts.googleapis.com/css?family=Oswald:300,400');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', oswald;
}

body{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    min-height: 100wh;
    background-color:black;
    background-size: 40px 40px;
    background-image:
    linear-gradient(to right, grey 1px, transparent 1px),
    linear-gradient(to bottom, grey 1px, transparent 1px);
}

.nav ul{
    margin: 0;
}

.nav li{
    display: inline;
}

.nav a {
    display: inline-block;
    padding-right: .5em;
    color: white;
    text-decoration: none;
}

.footer-nav li{
    padding: 0 .5em;
}

.name{
    text-align: left;
    margin: 0;
    font-size: 2em;
    font-family: "Oswald";
    font-weight: normal;
    color: white;
    padding-top: 20px;
}

.name-large{
    font-size: 8em;
}

.name-footer{
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: "Oswald";
    font-weight: normal;
    color: black;
}

.header-container {
    width: 100%; /* or a specific width */
    padding: 20px; /* adjust padding as needed */
    display: flex;
    flex-direction: column; /* or row, based on your layout needs */
    align-items: center; /* centers content */
    justify-content: center; /* centers content vertically */
    background-color: black;
}

.footer-container {
    width: 100%; /* or a specific width */
    padding: 20px; /* adjust padding as needed */
    display: flex;
    flex-direction: column; /* or row, based on your layout needs */
    align-items: center; /* centers content */
    justify-content: center; /* centers content vertically */
    background-color: rgb(238, 238, 233);
}

.translucent-content-container {
    background-color: #fff;
    background-color: rgba(255,255,255,0.5);
}

.main-footer {
    background-color:beige;
    color: white;
    padding: .25em 0;
}

.main-footer-container{
    display: flex;
    align-items: center;
}

.main-footer-container ul{
    flex-grow: 1;
    text-align: end;
}


.content-section {
    margin: 1em;
    color:#fff;
}

.section-header {
    font-family: "oswald";
    font-weight: normal;
    color: #fff;
    text-align: center;
    font-size: 2.5em;
}

.section-sub-header {
    font-family: "oswald";
    font-weight: normal;
    padding: 0.5em;
    color: #fff;
    text-align: left;
    font-size: 1.5em;
}

.overview{
    padding: 0.5em;
}

.list-indent{
    padding: 1.5em;
}


.wrapper{
    display: inline-flex;
}

.wrapper .static-txt{
    color: #fff;
    font-size: 60px;
    font-weight: 400;
}

.wrapper .dynamic-txts{
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;

}

.dynamic-txts li{
    color:#73de46;
    list-style: none;
    font-size: 60px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 8s steps(4) infinite;
}

.dynamic-txts li span{
    position: relative;
}

.dynamic-txts li span::after{
    content: "";
    position: absolute;
    left: 0;
    background: black;
    height: 100%;
    width: 100%;
    border-left: 2px solid rgb(62, 99, 62); /*#FC6D6D; */
    animation: typing 2s steps(10) infinite;
}

@keyframes slide{
    100%{
        top: -360px;
    }
}

@keyframes typing{
    100%{
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}